<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openform()">Open Form</button>
        <h1>{{'nilai a: ' + a }}</h1>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var vm = new vue({
        el:'map',
        data:{
            a:0,
        },
        method :{
            openform :function(){
                this.a =prompt("masukan nilai a")
            }
        }
    })
    </script>
</body>
</html>