<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>

 
  <div id="app">
    <input type="text"  v-model:value="newTask" />
    <button @click="addTask">Add</button>
    <ul>
        <li v-for="item in todolists">
            <s v-if="item.done">{{ item.task }}</s>
            <b v-else>{{ item.task }}</b>
        </li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        newTask: "",
        todolists: [
            {'done': false, task: "Muhamad Iqbal Mubarol"},
            {'done': false, task: "Ruby Purwanti"},
            {'done': false, task: "Fakih Muhamad"},
        ]
      },
      methods: {
          addTask: function(){
              this.todolists.push({'done': false, 'task': this.newTask});
              this.newTask = "";
          }
        
      }
    })
  </script>
</body>

</html>



