<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">

        <div>
            <input type="text" placeholder="Ketikan Kata Kunci">
        </div>

        <div class="book list">
            <ul v-for="book in books">
            <li>{{ book }}</li>
            </ul>
        </div>
        

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
      <script>
    var app = new Vue({
        el: '#app',
        data: {
            books : [
                'Kalkulus Dasar',
                'Fisika Dasar',
                'Aljabar Liner Elementer',
                'Aljabar Abstrak',
                'Algoritma Pemrograman'
            ]
        }
    })
        </script>
    </body>
</html>